    body {
      background: #F2F2F2;
    }
    .trashtalk-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid rgba(255, 215, 64, .5);
    }

     .trashtalk-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .home-link {
    text-decoration: none;
    color: white;
  }

  .input-box {
    padding: 0px 20px 0px 20px;
  }

  .card-buttons {
    padding: 5px 30px 10px 10px;
  }

  .card-buttons > div {
    float: right;
    padding: 5px 5px 5px 5px;
  }

  .active {
    border-bottom: 4px solid #FFD740;
  }

  #fab {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-collapse: collapse;
    padding: 40px 40px 40px 40px;
  }
  #center-fab {
    width:3%;
    margin-left: auto;
    margin-right: auto;
  }

  .generate-routes-title {
    text-align: center;
  }
  .routes-table {
    margin: auto;
    width: 70%; 
  }
  .route-date {
    text-align: center;
  }