    body {
      background: #F2F2F2;
    }
    .trashtalk-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid rgba(255, 215, 64, .5);
    }

     .trashtalk-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .home-link {
    text-decoration: none;
    color: white;
  }

  .input-box {
    padding: 0px 20px 0px 20px;
  }

  .card-buttons {
    padding: 5px 30px 10px 10px;
  }

  .card-buttons > div {
    float: right;
    padding: 5px 5px 5px 5px;
  }

  .active {
    border-bottom: 4px solid #FFD740;
  }

  #fab {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    border-collapse: collapse;
    padding: 40px 40px 40px 40px;
  }

  .map-container {
    position: relative;
    overflow: hidden;
    margin: 0 40px 20px 40px;
  }
  #center-fab {
    width:3%;
    margin-left: auto;
    margin-right: auto;
  }

  .send-routes-fab {
    margin-top: 2%;
    margin-right: 2%;
  }

  .generate-routes-title {
    text-align: center;
  }
  .routes-table {
    margin: auto;
    width: 70%; 
  }
  .past-routes h6 {
    margin-left: 17%;
    margin-bottom: 0%;
  }

/* This is the styling for the Popups from the FAB */


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    bottom: 160px;
    right: 160px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
