    .trashtalk-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid rgba(255, 215, 64, .5);
    }

     .trashtalk-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .input-box {
    padding: 0px 20px 0px 20px;
  }

  .card-buttons {
    padding: 5px 30px 10px 10px;
    position: relative; 
  }

  .card-buttons > div {
    float: right;
    padding: 5px 5px 5px 5px;
  }

  .active {
    border-bottom: 4px solid #FFD740;
  }

  #fab {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    border-collapse: collapse;
    padding: 30px 30px 30px 30px;
  }

  .home-link {
    text-decoration: none;
    color: white;
  }

  .map-container {
    margin: 0 40px 20px 40px;
    overflow: hidden;
  }